:root {
  --el-color-primary: #1e80ff;
  --sub-primary: #a0cfff;
  --font-color1: #252933;
  --font-color2: #515767;
  --font-color3: #8a919f;
  --bg-color1: #f7f8fa;
  --bg-color2: #ecf5ff;
  --border-color: #e4e6eb;
  --header-height: 60px;
}